-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 12/17/2020 1:11:16 PM
-- 1 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [META_ENT_ID] FROM [dbo].[META_ENTITY] WHERE [META_ENT_ID] = '2201000149') BEGIN

     INSERT INTO [dbo].[META_ENTITY] ([META_ENT_ID], [SYSTEM_NAME], [PARENT_ENTITY], [ENTITY_NAME], [TABLE_NAME], [IS_ABSTRACT], [IS_SYSTEM], [TEMPLATE_ENABLED], [ACTION_LOG_TABLE], [ACTIVITY_LOG_TABLE], [MAJOR_TYPE], [DESCRIPTION], [META_ENT_NAME_PRM], [META_ENT_NAME_SEC], [DISCRIMINATOR_COLUMN], [DISCRIMINATOR_VALUE], [CACHE_TIME], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [ROOT_NODE_ID])
     VALUES ('2201000149', 'Unison.Document.EForm.InvestmentRealEstate ', '2000000149', 'Investment Real Estate Form', 'EFORM', 0, 0, 0, NULL, NULL, 'Document', 'Investment in Real Estate EForm', N'Investment in Real Estate Form', N'Investment Real Estate Form', NULL, '2201000149', 0, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', NULL)

END


