-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 12/17/2020 1:12:02 PM
-- 26 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_01') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_01', 'InvestmentRealEstate_SelectRequestType', '2201000149', 'Select Request Type', 'STRING_VAL', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_02') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_02', 'InvestmentRealEstate_UniqueRegistrationNumber', '2201000149', 'Unique Registration Number', 'STRING_VAL1', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_03') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_03', 'InvestmentRealEstate_RegistrationNumber', '2201000149', 'Registration Number', 'STRING_VAL2', 'String', NULL, NULL, NULL, 0, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_04') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_04', 'InvestmentRealEstate_RDAAccountNumber', '2201000149', 'RDA Account Number', 'STRING_VAL3', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_05') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_05', 'InvestmentRealEstate_AccountTitle', '2201000149', 'Account Title', 'STRING_VAL4', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_06') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_06', 'InvestmentRealEstate_AccountCurrency', '2201000149', 'Account Currency', 'STRING_VAL5', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_07') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_07', 'InvestmentRealEstate_ProductType', '2201000149', 'Product Type', 'STRING_VAL6', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_08') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_08', 'InvestmentRealEstate_AddressOfProperty', '2201000149', 'Address of the Property', 'STRING_VAL7', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_09') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_09', 'InvestmentRealEstate_DateOfSale', '2201000149', 'Date of Sales Agreement', 'STRING_VAL8', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_10') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_10', 'InvestmentRealEstate_PropertyValue_1', '2201000149', 'Property Value as per Valuation Report-1', 'STRING_VAL9', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_11') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_11', 'InvestmentRealEstate_NameOfValuator_1', '2201000149', 'Name of the Valuator -1', 'STRING_VAL10', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_12') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_12', 'InvestmentRealEstate_PropertyValue_2', '2201000149', 'Property Value as per Valuation Report - 2', 'STRING_VAL11', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_13') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_13', 'InvestmentRealEstate_NameOfValuator_2', '2201000149', 'Name of the Valuator -2', 'STRING_VAL12', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_14') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_14', 'InvestmentRealEstate_CounterPartyType', '2201000149', 'Counter Party Type', 'STRING_VAL13', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_15') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_15', 'InvestmentRealEstate_NameOfCounterParty', '2201000149', 'Name of the Counter Party', 'STRING_VAL14', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_16') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_16', 'InvestmentRealEstate_CNICOfCounterParty', '2201000149', 'CNIC / NTN Number of the Counter Party', 'STRING_VAL15', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_17') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_17', 'InvestmentRealEstate_TotalAmountInvestmentFigures', '2201000149', 'Total Amount of Investment Figures', 'STRING_VAL16', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_18') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_18', 'InvestmentRealEstate_TotalAmountInvestmentWords', '2201000149', 'Total Amount of Investment Words', 'STRING_VAL17', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_19') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_19', 'InvestmentRealEstate_AmountPerInstallmentFigures', '2201000149', 'Amount per Installament / Rent Figures', 'STRING_VAL18', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_20') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_20', 'InvestmentRealEstate_AmountPerInstallmentWords', '2201000149', 'Amount per Installament / Rent Words', 'STRING_VAL19', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_21') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_21', 'InvestmentRealEstate_ModeOfPayment', '2201000149', 'Mode of Payment', 'STRING_VAL20', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_22') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_22', 'InvestmentRealEstate_NumberOfTranches', '2201000149', 'Number Of Tranches', 'STRING_VAL21', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_23') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_23', 'InvestmentRealEstate_AmountTranch_1', '2201000149', 'Amount Tranch-1', 'CARD_TITLE1', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_24') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_24', 'InvestmentRealEstate_AmountTranch_2', '2201000149', 'Amount Tranch-2', 'CARD_TITLE2', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_25') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_25', 'InvestmentRealEstate_AmountTranch_3', '2201000149', 'Amount Tranch-3', 'CARD_TITLE3', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_26') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_26', 'InvestmentRealEstate_AmountTranch_4', '2201000149', 'Amount Tranch-4', 'CARD_TITLE4', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2201000149_27') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2201000149_27', 'InvestmentRealEstate_Frequency', '2201000149', 'Frequency', 'STRING_VAL22', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END
