-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 12/17/2020 1:12:56 PM
-- 2 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [META_VIEW_ID] FROM [dbo].[META_VIEW] WHERE [META_VIEW_ID] = '2201000149_001') BEGIN

     INSERT INTO [dbo].[META_VIEW] ([META_VIEW_ID], [VIEW_NAME_PRM], [SYSTEM_NAME], [VIEW_NAME_SEC], [VIEW_TYPE], [META_ENT_ID], [DIMENSION], [PLACEHOLDER_POSITION], [IS_MAIN], [IS_DEFAULT], [IS_READ_ONLY], [IS_PRIMARY_LINK], [DISPLAY_ORDER], [FACTORY_CLASS], [SELECT_CRITERIA], [ASSOCIATED_SEARCH], [PAGE_SIZE], [CREATED_ON], [AGGREGATED_ATTRIB_ID], [CREATED_BY], [UPDATED_BY], [UPDATED_ON], [ORDER_BY_CLAUSE], [DATA_PROCESSOR_CLASS])
     VALUES ('2201000149_001', N'Investment in Real Estate Form', 'EForm.View.InvestmentRealEstate.Detail', N'Investment in Real Estate Form', 'Detail', '2201000149', '0', NULL, 1, 1, 0, 1, 1, NULL, NULL, NULL, 0, GETDATE(), NULL, 'k.hayat', 'k.hayat', GETDATE(), NULL, NULL)

END

IF NOT EXISTS (SELECT [META_VIEW_ID] FROM [dbo].[META_VIEW] WHERE [META_VIEW_ID] = '2201000149_002') BEGIN

     INSERT INTO [dbo].[META_VIEW] ([META_VIEW_ID], [VIEW_NAME_PRM], [SYSTEM_NAME], [VIEW_NAME_SEC], [VIEW_TYPE], [META_ENT_ID], [DIMENSION], [PLACEHOLDER_POSITION], [IS_MAIN], [IS_DEFAULT], [IS_READ_ONLY], [IS_PRIMARY_LINK], [DISPLAY_ORDER], [FACTORY_CLASS], [SELECT_CRITERIA], [ASSOCIATED_SEARCH], [PAGE_SIZE], [CREATED_ON], [AGGREGATED_ATTRIB_ID], [CREATED_BY], [UPDATED_BY], [UPDATED_ON], [ORDER_BY_CLAUSE], [DATA_PROCESSOR_CLASS])
     VALUES ('2201000149_002', N'Investment in Real Estate', 'Unison.Document.EForm.InvestmentRealEstateFormSectionView', N'Investment in Real Estate', 'Section', '2201000149', '0x2', NULL, 0, 0, 0, 1, 1, NULL, 'ifelse(isEmpty(getMapValue(getProperty(@currentObj,''values''),''CURRENT_STATE'')),''EDITABLE'',''READ_ONLY'')', NULL, 0, GETDATE(), NULL, 'k.hayat', 'k.hayat', GETDATE(), NULL, NULL)

END


