-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 12/17/2020 1:13:33 PM
-- 26 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_01') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_01', '2201000149_002', '2201000149_01', '2201000149', 'InvestmentRealEstate_SelectRequestType', 0, 1, NULL, 0, 'TextBox', N'Select Request Type', N'Select Request Type', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_02') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_02', '2201000149_002', '2201000149_02', '2201000149', 'InvestmentRealEstate_UniqueRegistrationNumber', 0, 3, NULL, 0, 'TextBox', N'Unique Registration Number', N'Unique Registration Number', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_03') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_03', '2201000149_002', '2201000149_03', '2201000149', 'InvestmentRealEstate_RegistrationNumber', 0, 5, NULL, 0, 'TextBox', N'Registration Number', N'Registration Number', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_04') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_04', '2201000149_002', '2201000149_04', '2201000149', 'InvestmentRealEstate_RDAAccountNumber', 0, 7, NULL, 0, 'TextBox', N'RDA Account Number', N'RDA Account Number', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_05') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_05', '2201000149_002', '2201000149_05', '2201000149', 'InvestmentRealEstate_AccountTitle', 0, 9, NULL, 0, 'TextBox', N'Account Title', N'Account Title', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_06') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_06', '2201000149_002', '2201000149_06', '2201000149', 'InvestmentRealEstate_AccountCurrency', 0, 11, NULL, 0, 'TextBox', N'Account Currency', N'Account Currency', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_07') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_07', '2201000149_002', '2201000149_07', '2201000149', 'InvestmentRealEstate_ProductType', 0, 13, NULL, 0, 'TextBox', N'Product Type', N'Product Type', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_08') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_08', '2201000149_002', '2201000149_08', '2201000149', 'InvestmentRealEstate_AddressOfProperty', 0, 15, NULL, 0, 'TextBox', N'Address of the Property', N'Address of the Property', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_09') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_09', '2201000149_002', '2201000149_09', '2201000149', 'InvestmentRealEstate_DateOfSale', 0, 17, NULL, 0, 'TextBox', N'Date of Sales agreement', N'Date of Sales agreement', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_10') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_10', '2201000149_002', '2201000149_10', '2201000149', 'InvestmentRealEstate_PropertyValue_1', 0, 19, NULL, 0, 'TextBox', N'Property Value as per Valuation Report-1', N'Property Value as per Valuation Report-1', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_11') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_11', '2201000149_002', '2201000149_11', '2201000149', 'InvestmentRealEstate_NameOfValuator_1', 0, 21, NULL, 0, 'TextBox', N'Name of the Valuator -1', N'Name of the Valuator -1', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_12') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_12', '2201000149_002', '2201000149_12', '2201000149', 'InvestmentRealEstate_PropertyValue_2', 0, 23, NULL, 0, 'TextBox', N'Property Value as per Valuation Report - 2', N'Property Value as per Valuation Report - 2', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_13') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_13', '2201000149_002', '2201000149_13', '2201000149', 'InvestmentRealEstate_NameOfValuator_2', 0, 25, NULL, 0, 'TextBox', N'Name of the Valuator -2', N'Name of the Valuator -2', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_14') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_14', '2201000149_002', '2201000149_14', '2201000149', 'InvestmentRealEstate_CounterPartyType', 0, 2, NULL, 0, 'TextBox', N'Counter Party Type', N'Counter Party Type', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_15') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_15', '2201000149_002', '2201000149_15', '2201000149', 'InvestmentRealEstate_NameOfCounterParty', 0, 4, NULL, 0, 'TextBox', N'Name of the Counter Party', N'Name of the Counter Party', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_16') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_16', '2201000149_002', '2201000149_16', '2201000149', 'InvestmentRealEstate_CNICOfCounterParty', 0, 6, NULL, 0, 'TextBox', N'CNIC / NTN number of the Counter Party', N'CNIC / NTN number of the Counter Party', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_17') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_17', '2201000149_002', '2201000149_17', '2201000149', 'InvestmentRealEstate_TotalAmountInvestmentFigures', 0, 10, NULL, 0, 'TextBox', N'Total Amount of Investment Figures', N'Total Amount of Investment Figures', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_18') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_18', '2201000149_002', '2201000149_18', '2201000149', 'InvestmentRealEstate_TotalAmountInvestmentWords', 0, 12, NULL, 0, 'TextBox', N'Total Amount of Investment Words', N'Total Amount of Investment Words', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_19') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_19', '2201000149_002', '2201000149_19', '2201000149', 'InvestmentRealEstate_AmountPerInstallmentFigures', 0, 14, NULL, 0, 'TextBox', N'Amount per installament / Rent Figures', N'Amount per installament / Rent Figures', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_20') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_20', '2201000149_002', '2201000149_20', '2201000149', 'InvestmentRealEstate_AmountPerInstallmentWords', 0, 16, NULL, 0, 'TextBox', N'Amount per installament / Rent Words', N'Amount per installament / Rent Words', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_21') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_21', '2201000149_002', '2201000149_21', '2201000149', 'InvestmentRealEstate_ModeOfPayment', 0, 27, NULL, 0, 'TextBox', N'Mode of Payment', N'Mode of Payment', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_22') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_22', '2201000149_002', '2201000149_22', '2201000149', 'InvestmentRealEstate_NumberOfTranches', 0, 18, NULL, 0, 'TextBox', N'Number Of Tranches', N'Number Of Tranches', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_23') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_23', '2201000149_002', '2201000149_23', '2201000149', 'InvestmentRealEstate_AmountTranch_1', 0, 20, NULL, 0, 'TextBox', N'Amount Tranch-1', N'Amount Tranch-1', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_24') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_24', '2201000149_002', '2201000149_24', '2201000149', 'InvestmentRealEstate_AmountTranch_2', 0, 22, NULL, 0, 'TextBox', N'Amount Tranch-2', N'Amount Tranch-2', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_25') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_25', '2201000149_002', '2201000149_25', '2201000149', 'InvestmentRealEstate_AmountTranch_3', 0, 24, NULL, 0, 'TextBox', N'Amount Tranch-3', N'Amount Tranch-3', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_26') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_26', '2201000149_002', '2201000149_26', '2201000149', 'InvestmentRealEstate_AmountTranch_4', 0, 26, NULL, 0, 'TextBox', N'Amount Tranch-4', N'Amount Tranch-4', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2201000149_27') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2201000149_27', '2201000149_002', '2201000149_27', '2201000149', 'InvestmentRealEstate_Frequency', 0, 8, NULL, 0, 'TextBox', N'Frequency', N'Frequency', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END
