-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 12/17/2020 1:15:39 PM
-- 1 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [PARAMETER_NAME], [META_VIEW_ID] FROM [dbo].[META_VIEW_PARAM] WHERE [PARAMETER_NAME] = 'sectionColStyleClass2' AND [META_VIEW_ID] = '2201000149_002') BEGIN

     INSERT INTO [dbo].[META_VIEW_PARAM] ([PARAMETER_NAME], [META_VIEW_ID], [PARAMETER_VALUE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('sectionColStyleClass2', '2201000149_002', 'section_column_4', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat')

END


