-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 12/17/2020 1:19:07 PM
-- 2 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [ROLE_ID], [PROCESS_ALLOC_ID] FROM [dbo].[WF_PROCESS_PARTICIPANT] WHERE [ROLE_ID] = '0000000001' AND [PROCESS_ALLOC_ID] = 200201) BEGIN

     INSERT INTO [dbo].[WF_PROCESS_PARTICIPANT] ([ROLE_ID], [PROCESS_ALLOC_ID], [IS_SUPERVISOR], [CAN_CREATE], [SELECT_CRITERIA], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('0000000001', 200201, 1, 0, 'true', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat')

END

IF NOT EXISTS (SELECT [ROLE_ID], [PROCESS_ALLOC_ID] FROM [dbo].[WF_PROCESS_PARTICIPANT] WHERE [ROLE_ID] = '0000000002' AND [PROCESS_ALLOC_ID] = 200201) BEGIN

     INSERT INTO [dbo].[WF_PROCESS_PARTICIPANT] ([ROLE_ID], [PROCESS_ALLOC_ID], [IS_SUPERVISOR], [CAN_CREATE], [SELECT_CRITERIA], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('0000000002', 200201, 0, 0, 'false', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat')

END


