-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 12/18/2020 5:09:20 PM
-- 1 records
-- -----------------------------------------------------------------

SET IDENTITY_INSERT [dbo].[ADC_FACILITY_EFORM_TYPE_MAPPING] ON

IF NOT EXISTS (SELECT [MAPPING_ID] FROM [dbo].[ADC_FACILITY_EFORM_TYPE_MAPPING] WHERE [MAPPING_ID] = 312) BEGIN

     INSERT INTO [dbo].[ADC_FACILITY_EFORM_TYPE_MAPPING] ([MAPPING_ID], [ADC_CODE], [META_ENT_ID], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES (312, '05', '2201000149', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat')

END

SET IDENTITY_INSERT [dbo].[ADC_FACILITY_EFORM_TYPE_MAPPING] OFF

