-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 12/17/2020 2:43:17 AM
-- 1 records
-- -----------------------------------------------------------------



IF NOT EXISTS (SELECT [META_ENT_ID] FROM [dbo].[META_ENTITY] WHERE [META_ENT_ID] = '2205000149') BEGIN

     INSERT INTO [dbo].[META_ENTITY] ([META_ENT_ID], [SYSTEM_NAME], [PARENT_ENTITY], [ENTITY_NAME], [TABLE_NAME], [IS_ABSTRACT], [IS_SYSTEM], [TEMPLATE_ENABLED], [ACTION_LOG_TABLE], [ACTIVITY_LOG_TABLE], [MAJOR_TYPE], [DESCRIPTION], [META_ENT_NAME_PRM], [META_ENT_NAME_SEC], [DISCRIMINATOR_COLUMN], [DISCRIMINATOR_VALUE], [CACHE_TIME], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [ROOT_NODE_ID])
     VALUES ('2205000149', 'Unison.Document.EForm.RemittanceApplicationRequest', '2000000149', 'Remittance Application Request Form', 'EFORM', 0, 0, 0, NULL, NULL, 'Document', 'Remittance Application Request EForm', N'Remittance Application Request Form', N'Remittance Application Request Form', NULL, '2205000149', 0, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', NULL)

END

