-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 12/17/2020 2:48:11 AM
-- 15 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_01') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_01', '2205000149_002', '2205000149_01', '2205000149', 'RemittanceApplicationRequest_RemittanceType', 0, 17, NULL, 0, 'TextBox', N'Remittance Type', N'Remittance Type', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_02') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_02', '2205000149_002', '2205000149_02', '2205000149', 'RemittanceApplicationRequest_RepatriationOfFund', 0, 2, NULL, 0, 'TextBox', N'Repatriation of Fund', N'Repatriation of Fund', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_03') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_03', '2205000149_002', '2205000149_03', '2205000149', 'RemittanceApplicationRequest_BeneficiaryName', 0, 1, NULL, 0, 'TextBox', N'Beneficiary Name', N'Beneficiary Name', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_04') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_04', '2205000149_002', '2205000149_04', '2205000149', 'RemittanceApplicationRequest_BeneficiaryAddress', 0, 3, NULL, 0, 'TextBox', N'Beneficiary Address', N'Beneficiary Address', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_05') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_05', '2205000149_002', '2205000149_05', '2205000149', 'RemittanceApplicationRequest_BeneficiaryMobileNumber', 0, 5, NULL, 0, 'TextBox', N'Beneficiary Mobile Number', N'Beneficiary Mobile Number', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_06') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_06', '2205000149_002', '2205000149_06', '2205000149', 'RemittanceApplicationRequest_BeneficiaryCNIC', 0, 7, NULL, 0, 'TextBox', N'Beneficiary CNIC/NTN', N'Beneficiary CNIC/NTN', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_07') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_07', '2205000149_002', '2205000149_07', '2205000149', 'RemittanceApplicationRequest_BeneficiaryAccountNumber', 0, 9, NULL, 0, 'TextBox', N'Beneficiary Account Number', N'Beneficiary Account Number', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_08') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_08', '2205000149_002', '2205000149_08', '2205000149', 'RemittanceApplicationRequest_BeneficiaryIBAN', 0, 11, NULL, 0, 'TextBox', N'Beneficiary IBAN', N'Beneficiary IBAN', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_09') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_09', '2205000149_002', '2205000149_09', '2205000149', 'RemittanceApplicationRequest_BeneficiaryBankName', 0, 13, NULL, 0, 'TextBox', N'Beneficiary Bank Name', N'Beneficiary Bank Name', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_10') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_10', '2205000149_002', '2205000149_10', '2205000149', 'RemittanceApplicationRequest_BeneficiaryBankSWIFTCode', 0, 15, NULL, 0, 'TextBox', N'Beneficiary Bank SWIFT Code', N'Beneficiary Bank SWIFT Code', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_11') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_11', '2205000149_002', '2205000149_11', '2205000149', 'RemittanceApplicationRequest_RelationshipWithTheRemitter', 0, 4, NULL, 0, 'TextBox', N'Relationship with the Remitter', N'Relationship with the Remitter', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_12') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_12', '2205000149_002', '2205000149_12', '2205000149', 'RemittanceApplicationRequest_Amount', 0, 6, NULL, 0, 'TextBox', N'Amount', N'Amount', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_13') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_13', '2205000149_002', '2205000149_13', '2205000149', 'RemittanceApplicationRequest_AmountInWords', 0, 8, NULL, 0, 'TextArea', N'Amount in Words', N'Amount in Words', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_14') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_14', '2205000149_002', '2205000149_14', '2205000149', 'RemittanceApplicationRequest_PurposeOfPayment', 0, 10, NULL, 0, 'TextBox', N'Purpose of Payment', N'Purpose of Payment', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_15') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_15', '2205000149_002', '2205000149_15', '2205000149', 'RemittanceApplicationRequest_CollectionMode', 0, 12, NULL, 0, 'TextBox', N'Collection Mode', N'Collection Mode', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END


IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_16') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_16', '2205000149_002', '2205000149_16', '2205000149', 'RemittanceApplicationRequest_CollectionBranch', 0, 14, NULL, 0, 'TextBox', N'Collection Branch', N'Collection Branch', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_17') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_17', '2205000149_002', '2205000149_17', '2205000149', 'RemittanceApplicationRequest_AuthorizedPersonName', 0, 16, NULL, 0, 'TextBox', N'Authorized Person Name', N'Authorized Person Name', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_18') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_18', '2205000149_002', '2205000149_18', '2205000149', 'RemittanceApplicationRequest_AuthorizedPersonCNIC', 0, 18, NULL, 0, 'TextBox', N'Authorized Person CNIC', N'Authorized Person CNIC', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2205000149_19') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2205000149_19', '2205000149_002', '2205000149_19', '2205000149', 'RemittanceApplicationRequest_Currency', 0, 19, NULL, 0, 'TextBox', N'Currency', N'Currency', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END