-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 12/17/2020 2:56:11 AM
-- 1 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [ENT_CATEGORY_ID] FROM [dbo].[META_ENTITY_CATEGORY] WHERE [ENT_CATEGORY_ID] = '2205000149_205') BEGIN

     INSERT INTO [dbo].[META_ENTITY_CATEGORY] ([ENT_CATEGORY_ID], [META_ENT_ID], [TREE_NODE_ID], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('2205000149_205', '2205000149', '2000000200', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat')

END


