-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 12/17/2020 1:03:39 PM
-- 20 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_01') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_01', 'DepositReceipt_RequestType', '2202000149', 'Request Type', 'STRING_VAL', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_02') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_02', 'DepositReceipt_RoshanDigitalAccountNumber', '2202000149', 'Roshan Digital Account Number', 'STRING_VAL1', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_03') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_03', 'DepositReceipt_DealNumber', '2202000149', 'Deal Number', 'STRING_VAL2', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_04') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_04', 'DepositReceipt_AccountTitle', '2202000149', 'Account Title', 'STRING_VAL3', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_05') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_05', 'DepositReceipt_AccountCurrency', '2202000149', 'Account Currency', 'STRING_VAL4', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_06') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_06', 'DepositReceipt_ProductType', '2202000149', 'Product Type', 'STRING_VAL5', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_07') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_07', 'DepositReceipt_Tenor', '2202000149', 'Tenor', 'STRING_VAL6', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_08') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_08', 'DepositReceipt_InvestmentCurrency', '2202000149', 'Investment Currency', 'STRING_VAL7', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_09') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_09', 'DepositReceipt_AmountPerCertificate', '2202000149', 'Amount per Certificate', 'STRING_VAL8', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_10') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_10', 'DepositReceipt_AmountInWords', '2202000149', 'Amount in Words', 'STRING_VAL9', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_11') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_11', 'DepositReceipt_NumberOfCertificates', '2202000149', 'Number of Certificates', 'STRING_VAL10', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_12') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_12', 'DepositReceipt_TotalInvestmentAmountFigures', '2202000149', 'Total Investment Amount in Figures', 'STRING_VAL11', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_13') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_13', 'DepositReceipt_TotalInvestmentAmountWords', '2202000149', 'Total Investment Amount in Words', 'STRING_VAL12', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_14') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_14', 'DepositReceipt_TreatmentAtMaturity', '2202000149', 'Treatment at Maturity', 'STRING_VAL13', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_15') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_15', 'DepositReceipt_ProfitPaymentOptions', '2202000149', 'Profit Payment Options', 'STRING_VAL14', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_16') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_16', 'DepositReceipt_ProcessedOnDate', '2202000149', 'Processed on Date', 'STRING_VAL15', 'String', NULL, NULL, NULL, 0, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_17') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_17', 'DepositReceipt_CertificateNumber', '2202000149', 'Certificate Number', 'STRING_VAL16', 'String', NULL, NULL, NULL, 0, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_18') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_18', 'DepositReceipt_InputterName', '2202000149', 'Inputter Name', 'STRING_VAL17', 'String', NULL, NULL, NULL, 0, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_19') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_19', 'DepositReceipt_InputterSignature', '2202000149', 'Inputter Signature', 'STRING_VAL18', 'String', NULL, NULL, NULL, 0, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_20') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2202000149_20', 'DepositReceipt_AuthorizerSignature', '2202000149', 'Authorizer Signature', 'STRING_VAL19', 'String', NULL, NULL, NULL, 0, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_21') BEGIN

	 INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
	 VALUES ('2202000149_21', 'DepositReceipt_TDRAmountFigures', '2202000149', 'TDR Amount Figures', 'STRING_VAL20', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2202000149_22') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
	 VALUES ('2202000149_22', 'DepositReceipt_TDRAmountWords', '2202000149', 'TDR Amount Words', 'STRING_VAL21', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END