-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 12/17/2020 1:05:48 PM
-- 6 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [RELATION_ID] FROM [dbo].[META_VIEW_RELATIONSHIP] WHERE [RELATION_ID] = '2202000149_01') BEGIN

     INSERT INTO [dbo].[META_VIEW_RELATIONSHIP] ([RELATION_ID], [PARENT_VIEW_ID], [CHILD_VIEW_ID], [CHILD_ORDER_IN_PARENT], [RELATION_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('2202000149_01', '2202000149_001', '2202000149_002', 3, 'CONTAINMENT', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat')

END

IF NOT EXISTS (SELECT [RELATION_ID] FROM [dbo].[META_VIEW_RELATIONSHIP] WHERE [RELATION_ID] = '2202000149_02') BEGIN

     INSERT INTO [dbo].[META_VIEW_RELATIONSHIP] ([RELATION_ID], [PARENT_VIEW_ID], [CHILD_VIEW_ID], [CHILD_ORDER_IN_PARENT], [RELATION_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('2202000149_02', '2202000149_001', '2000000155', 2, 'CONTAINMENT', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat')

END

IF NOT EXISTS (SELECT [RELATION_ID] FROM [dbo].[META_VIEW_RELATIONSHIP] WHERE [RELATION_ID] = '2202000149_03') BEGIN

     INSERT INTO [dbo].[META_VIEW_RELATIONSHIP] ([RELATION_ID], [PARENT_VIEW_ID], [CHILD_VIEW_ID], [CHILD_ORDER_IN_PARENT], [RELATION_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('2202000149_03', '2202000149_001', '2000000156', 4, 'CONTAINMENT', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat')

END

IF NOT EXISTS (SELECT [RELATION_ID] FROM [dbo].[META_VIEW_RELATIONSHIP] WHERE [RELATION_ID] = '2202000149_04') BEGIN

     INSERT INTO [dbo].[META_VIEW_RELATIONSHIP] ([RELATION_ID], [PARENT_VIEW_ID], [CHILD_VIEW_ID], [CHILD_ORDER_IN_PARENT], [RELATION_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('2202000149_04', '2202000149_001', '2000000157', 1, 'CONTAINMENT', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat')

END

IF NOT EXISTS (SELECT [RELATION_ID] FROM [dbo].[META_VIEW_RELATIONSHIP] WHERE [RELATION_ID] = '2202000149_05') BEGIN

     INSERT INTO [dbo].[META_VIEW_RELATIONSHIP] ([RELATION_ID], [PARENT_VIEW_ID], [CHILD_VIEW_ID], [CHILD_ORDER_IN_PARENT], [RELATION_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('2202000149_05', '2202000149_001', '2000000158', 5, 'CONTAINMENT', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat')

END

IF NOT EXISTS (SELECT [RELATION_ID] FROM [dbo].[META_VIEW_RELATIONSHIP] WHERE [RELATION_ID] = '2202000149_06') BEGIN

     INSERT INTO [dbo].[META_VIEW_RELATIONSHIP] ([RELATION_ID], [PARENT_VIEW_ID], [CHILD_VIEW_ID], [CHILD_ORDER_IN_PARENT], [RELATION_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('2202000149_06', '2202000149_001', '2000000159', 6, 'CONTAINMENT', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat')

END


