-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 12/17/2020 12:55:04 PM
-- 12 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2203000149_01') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2203000149_01', 'DormancyActivation_RDAAccount', '2203000149', 'Select RDA Account', 'STRING_VAL', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2203000149_02') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2203000149_02', 'DormancyActivation_AccountTitle', '2203000149', 'Account Title', 'STRING_VAL1', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2203000149_03') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2203000149_03', 'DormancyActivation_AccountCurrency', '2203000149', 'Account Currency', 'STRING_VAL2', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2203000149_04') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2203000149_04', 'DormancyActivation_ProductType', '2203000149', 'Product Type', 'STRING_VAL3', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2203000149_05') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2203000149_05', 'DormancyActivation_IDNumber', '2203000149', 'ID Number ', 'STRING_VAL4', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2203000149_06') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2203000149_06', 'DormancyActivation_IDDocumentIssuanceDate', '2203000149', 'ID Document Issuance Date', 'STRING_VAL5', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2203000149_07') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2203000149_07', 'DormancyActivation_IDDocumentExpiryDate', '2203000149', 'ID Document Expiry Date', 'STRING_VAL6', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2203000149_08') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2203000149_08', 'DormancyActivation_RequestReceived', '2203000149', 'Date & Time of request Received ', 'STRING_VAL7', 'String', NULL, NULL, NULL, 0, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2203000149_09') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2203000149_09', 'DormancyActivation_NADRAVerisysOK', '2203000149', 'NADRA Verisys OK', 'STRING_VAL8', 'String', NULL, NULL, NULL, 0, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2203000149_10') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2203000149_10', 'DormancyActivation_KYCRevisionPerformed', '2203000149', 'KYC Revision Performed', 'STRING_VAL9', 'String', NULL, NULL, NULL, 0, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2203000149_11') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2203000149_11', 'DormancyActivation_ProceedBy', '2203000149', 'Proceed By ', 'STRING_VAL10', 'String', NULL, NULL, NULL, 0, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2203000149_12') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2203000149_12', 'DormancyActivation_AuthorizeBy', '2203000149', 'Authorize By', 'STRING_VAL11', 'String', NULL, NULL, NULL, 0, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL)

END


