-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 12/17/2020 12:56:15 PM
-- 12 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2203000149_01') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2203000149_01', '2203000149_002', '2203000149_01', '2203000149', 'DormancyActivation_RDAAccount', 0, 1, NULL, 0, 'TextBox', N'Select RDA Account', N'Select RDA Account', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2203000149_02') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2203000149_02', '2203000149_002', '2203000149_02', '2203000149', 'DormancyActivation_AccountTitle', 0, 3, NULL, 0, 'TextBox', N'Account Title', N'Account Title', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2203000149_03') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2203000149_03', '2203000149_002', '2203000149_03', '2203000149', 'DormancyActivation_AccountCurrency', 0, 5, NULL, 0, 'TextBox', N'Account Currency', N'Account Currency', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2203000149_04') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2203000149_04', '2203000149_002', '2203000149_04', '2203000149', 'DormancyActivation_ProductType', 0, 7, NULL, 0, 'TextBox', N'Product Type', N'Product Type', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2203000149_05') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2203000149_05', '2203000149_002', '2203000149_05', '2203000149', 'DormancyActivation_IDNumber', 0, 4, NULL, 0, 'TextBox', N'ID Number (CNIC /NICOP / POC / SNIC Number)', N'ID Number (CNIC /NICOP / POC / SNIC Number)', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2203000149_06') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2203000149_06', '2203000149_002', '2203000149_06', '2203000149', 'DormancyActivation_IDDocumentIssuanceDate', 0, 6, NULL, 0, 'TextBox', N'ID Document Issuance Date', N'ID Document Issuance Date', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2203000149_07') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2203000149_07', '2203000149_002', '2203000149_07', '2203000149', 'DormancyActivation_IDDocumentExpiryDate', 0, 8, NULL, 0, 'TextBox', N'ID Document Expiry Date', N'ID Document Expiry Date', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2203000149_08') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2203000149_08', '2203000149_002', '2203000149_08', '2203000149', 'DormancyActivation_RequestReceived', 0, 2, NULL, 0, 'TextBox', N'Date & Time of Request Received ', N'Date & Time of Request Received ', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2203000149_09') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2203000149_09', '2203000149_002', '2203000149_09', '2203000149', 'DormancyActivation_NADRAVerisysOK', 0, 9, NULL, 0, 'TextBox', N'NADRA Verisys OK', N'NADRA Verisys OK', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2203000149_10') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2203000149_10', '2203000149_002', '2203000149_10', '2203000149', 'DormancyActivation_KYCRevisionPerformed', 0, 11, NULL, 0, 'TextBox', N'KYC Revision Performed', N'KYC Revision Performed', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2203000149_11') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2203000149_11', '2203000149_002', '2203000149_11', '2203000149', 'DormancyActivation_ProceedBy', 0, 10, NULL, 0, 'TextBox', N'Proceed By (Name & Signature)', N'Proceed By (Name & Signature)', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2203000149_12') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2203000149_12', '2203000149_002', '2203000149_12', '2203000149', 'DormancyActivation_AuthorizeBy', 0, 12, NULL, 0, 'TextBox', N'Authorize By (Name & Signature)', N'Authorize By (Name & Signature)', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END


