-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 12/17/2020 12:57:49 PM
-- 1 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [RELATIONSHIP_ID] FROM [dbo].[META_ENTITY_RELATION] WHERE [RELATIONSHIP_ID] = '2000203') BEGIN

     INSERT INTO [dbo].[META_ENTITY_RELATION] ([RELATIONSHIP_ID], [SYSTEM_NAME], [SUB_ENTITY_ID], [MAIN_ENTITY_ID], [REL_META_ENTITY], [RELATION_TYPE], [MAIN_ENTITY_KEY], [REL_MAIN_ENTITY_KEY], [REL_SUB_ENTITY_KEY], [SUB_ENTITY_KEY], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('2000203', 'EForm.DormancyActivationForm.Workflow', '2000000150', '2203000149', NULL, 'DIRECT', 'EFORM_TICKET_NUM', NULL, NULL, 'REF_DOC_NUM', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat')

END


