-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 12/17/2020 12:59:25 PM
-- 1 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [TREE_NODE_ID] FROM [dbo].[VALUE_TREE_NODE] WHERE [TREE_NODE_ID] = '2000000200') BEGIN

     INSERT INTO [dbo].[VALUE_TREE_NODE] ([TREE_NODE_ID], [PRODUCT_ENT_ID], [PARENT_NODE], [ROOT_NODE_ID], [OTHER_CODE], [TREE_NODE_NAME_PRM], [TREE_NODE_NAME_SEC], [HIERARCHY_LEVEL], [GROUP_ID], [DISPLAY_ORDER], [SYSTEM_NAME], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('2000000200', '0000000003', '2000000011', '2000000011', 'RA', N'Roshan Accounts', N'Roshan Accounts', 1, 'EFORM_PRODUCT', 4, 'RoshanAccounts', GETDATE(), 'k.hayat', GETDATE(), 'k.hayat')

END


