-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 1/12/2021 10:16:28 AM
-- 1 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [META_ENT_ID] FROM [dbo].[META_ENTITY] WHERE [META_ENT_ID] = '2206000149') BEGIN

     INSERT INTO [dbo].[META_ENTITY] ([META_ENT_ID], [SYSTEM_NAME], [PARENT_ENTITY], [ENTITY_NAME], [TABLE_NAME], [IS_ABSTRACT], [IS_SYSTEM], [TEMPLATE_ENABLED], [ACTION_LOG_TABLE], [ACTIVITY_LOG_TABLE], [MAJOR_TYPE], [DESCRIPTION], [META_ENT_NAME_PRM], [META_ENT_NAME_SEC], [DISCRIMINATOR_COLUMN], [DISCRIMINATOR_VALUE], [CACHE_TIME], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [ROOT_NODE_ID])
     VALUES ('2206000149', 'Unison.Document.EForm.NayaPakistanCertificate', '2000000149', 'INPC Prematurity Form', 'EFORM', 0, 0, 0, NULL, NULL, 'Document', 'INPC Prematurity Eform', N'INPC Prematurity Form', N'INPC Prematurity Form', NULL, '2206000149', 0, '20210112', 'k.hayat', '20210112', 'k.hayat', NULL)

END


