-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 1/12/2021 10:17:33 AM
-- 6 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2206000149_01') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2206000149_01', 'NayaPakistanCertificate_IPSAccountNumber', '2206000149', 'IPS Account Number', 'STRING_VAL', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', '20210112', 'k.hayat', '20210112', 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2206000149_02') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2206000149_02', 'NayaPakistanCertificate_OutstandingBalance', '2206000149', 'Outstanding Balance', 'STRING_VAL1', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', '20210112', 'k.hayat', '20210112', 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2206000149_03') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2206000149_03', 'NayaPakistanCertificate_AccountTitle', '2206000149', 'Account Title', 'STRING_VAL2', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', '20210112', 'k.hayat', '20210112', 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2206000149_04') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2206000149_04', 'NayaPakistanCertificate_ProductName', '2206000149', 'Product Name', 'STRING_VAL3', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', '20210112', 'k.hayat', '20210112', 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2206000149_05') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2206000149_05', 'NayaPakistanCertificate_AccountOpeningDate', '2206000149', 'Account Opening Date', 'STRING_VAL4', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', '20210112', 'k.hayat', '20210112', 'k.hayat', 0, NULL)

END

IF NOT EXISTS (SELECT [ATTRIBUTE_ID] FROM [dbo].[META_ENTITY_ATTRIB] WHERE [ATTRIBUTE_ID] = '2206000149_06') BEGIN

     INSERT INTO [dbo].[META_ENTITY_ATTRIB] ([ATTRIBUTE_ID], [SYSTEM_NAME], [META_ENT_ID], [ATTRIBUTE_NAME], [TABLE_COLUMN], [ATTRIBUTE_TYPE], [DESCRIPTION], [PICK_LIST], [COUNTER_NAME], [IS_MANDATORY], [IS_SEARCH], [IS_AUDIT], [IS_SUMMARY], [IS_INTERNAL_PRIMARY], [IS_PRIMARY], [TEMPLATE_ENABLED], [ATTRIBUTE_SCOPE], [CONSTRAINT_EXP], [CONSTRAINT_TYPE], [DEFAULT_EXP], [CALCULATE_EXP], [OPERATOR_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [IS_SERIALIZED], [SERIALIZATION_TYPE])
     VALUES ('2206000149_06', 'NayaPakistanCertificate_DateOfPrematureRequest', '2206000149', 'Date of Premature Request', 'STRING_VAL5', 'String', NULL, NULL, NULL, 1, 0, 0, 0, 0, 0, 1, 'None', NULL, NULL, ' ', NULL, 'Like', '20210112', 'k.hayat', '20210112', 'k.hayat', 0, NULL)

END


