-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 1/12/2021 10:20:05 AM
-- 6 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [RELATION_ID] FROM [dbo].[META_VIEW_RELATIONSHIP] WHERE [RELATION_ID] = '2206000149_03') BEGIN

     INSERT INTO [dbo].[META_VIEW_RELATIONSHIP] ([RELATION_ID], [PARENT_VIEW_ID], [CHILD_VIEW_ID], [CHILD_ORDER_IN_PARENT], [RELATION_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('2206000149_03', '2206000149_001', '2000000156', 4, 'CONTAINMENT', '20210112', 'k.hayat', '20210112', 'k.hayat')

END

IF NOT EXISTS (SELECT [RELATION_ID] FROM [dbo].[META_VIEW_RELATIONSHIP] WHERE [RELATION_ID] = '2206000149_04') BEGIN

     INSERT INTO [dbo].[META_VIEW_RELATIONSHIP] ([RELATION_ID], [PARENT_VIEW_ID], [CHILD_VIEW_ID], [CHILD_ORDER_IN_PARENT], [RELATION_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('2206000149_04', '2206000149_001', '2000000157', 1, 'CONTAINMENT', '20210112', 'k.hayat', '20210112', 'k.hayat')

END

IF NOT EXISTS (SELECT [RELATION_ID] FROM [dbo].[META_VIEW_RELATIONSHIP] WHERE [RELATION_ID] = '2206000149_05') BEGIN

     INSERT INTO [dbo].[META_VIEW_RELATIONSHIP] ([RELATION_ID], [PARENT_VIEW_ID], [CHILD_VIEW_ID], [CHILD_ORDER_IN_PARENT], [RELATION_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('2206000149_05', '2206000149_001', '2000000158', 5, 'CONTAINMENT', '20210112', 'k.hayat', '20210112', 'k.hayat')

END

IF NOT EXISTS (SELECT [RELATION_ID] FROM [dbo].[META_VIEW_RELATIONSHIP] WHERE [RELATION_ID] = '2206000149_06') BEGIN

     INSERT INTO [dbo].[META_VIEW_RELATIONSHIP] ([RELATION_ID], [PARENT_VIEW_ID], [CHILD_VIEW_ID], [CHILD_ORDER_IN_PARENT], [RELATION_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('2206000149_06', '2206000149_001', '2000000159', 6, 'CONTAINMENT', '20210112', 'k.hayat', '20210112', 'k.hayat')

END

IF NOT EXISTS (SELECT [RELATION_ID] FROM [dbo].[META_VIEW_RELATIONSHIP] WHERE [RELATION_ID] = '2206000149_01') BEGIN

     INSERT INTO [dbo].[META_VIEW_RELATIONSHIP] ([RELATION_ID], [PARENT_VIEW_ID], [CHILD_VIEW_ID], [CHILD_ORDER_IN_PARENT], [RELATION_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('2206000149_01', '2206000149_001', '2206000149_002', 3, 'CONTAINMENT', '20210112', 'k.hayat', '20210112', 'k.hayat')

END

IF NOT EXISTS (SELECT [RELATION_ID] FROM [dbo].[META_VIEW_RELATIONSHIP] WHERE [RELATION_ID] = '2206000149_02') BEGIN

     INSERT INTO [dbo].[META_VIEW_RELATIONSHIP] ([RELATION_ID], [PARENT_VIEW_ID], [CHILD_VIEW_ID], [CHILD_ORDER_IN_PARENT], [RELATION_TYPE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('2206000149_02', '2206000149_001', '2000000155', 2, 'CONTAINMENT', '20210112', 'k.hayat', '20210112', 'k.hayat')

END


