-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 1/12/2021 10:21:25 AM
-- 1 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [PARAMETER_NAME], [META_VIEW_ID] FROM [dbo].[META_VIEW_PARAM] WHERE [PARAMETER_NAME] = 'sectionColStyleClass2' AND [META_VIEW_ID] = '2206000149_002') BEGIN

     INSERT INTO [dbo].[META_VIEW_PARAM] ([PARAMETER_NAME], [META_VIEW_ID], [PARAMETER_VALUE], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('sectionColStyleClass2', '2206000149_002', 'section_column_4', '20210112', 'k.hayat', '20210112', 'k.hayat')

END


