-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 1/12/2021 10:23:46 AM
-- 1 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [ENT_CATEGORY_ID] FROM [dbo].[META_ENTITY_CATEGORY] WHERE [ENT_CATEGORY_ID] = '2206000149_206') BEGIN

     INSERT INTO [dbo].[META_ENTITY_CATEGORY] ([ENT_CATEGORY_ID], [META_ENT_ID], [TREE_NODE_ID], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY])
     VALUES ('2206000149_206', '2206000149', '2000000200', '20210112', 'k.hayat', '20210112', 'k.hayat')

END


