-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 12/17/2020 12:40:05 PM
-- 2 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [META_VIEW_ID] FROM [dbo].[META_VIEW] WHERE [META_VIEW_ID] = '2204000149_001') BEGIN

     INSERT INTO [dbo].[META_VIEW] ([META_VIEW_ID], [VIEW_NAME_PRM], [SYSTEM_NAME], [VIEW_NAME_SEC], [VIEW_TYPE], [META_ENT_ID], [DIMENSION], [PLACEHOLDER_POSITION], [IS_MAIN], [IS_DEFAULT], [IS_READ_ONLY], [IS_PRIMARY_LINK], [DISPLAY_ORDER], [FACTORY_CLASS], [SELECT_CRITERIA], [ASSOCIATED_SEARCH], [PAGE_SIZE], [CREATED_ON], [AGGREGATED_ATTRIB_ID], [CREATED_BY], [UPDATED_BY], [UPDATED_ON], [ORDER_BY_CLAUSE], [DATA_PROCESSOR_CLASS])
     VALUES ('2204000149_001', N'Customer Information Update Form', 'EForm.View.CustomerInformationUpdate.Detail', N'Customer Information Update Form', 'Detail', '2204000149', '0', NULL, 1, 1, 0, 1, 1, NULL, NULL, NULL, 0, GETDATE(), NULL, 'k.hayat', 'k.hayat', GETDATE(), NULL, NULL)

END

IF NOT EXISTS (SELECT [META_VIEW_ID] FROM [dbo].[META_VIEW] WHERE [META_VIEW_ID] = '2204000149_002') BEGIN

     INSERT INTO [dbo].[META_VIEW] ([META_VIEW_ID], [VIEW_NAME_PRM], [SYSTEM_NAME], [VIEW_NAME_SEC], [VIEW_TYPE], [META_ENT_ID], [DIMENSION], [PLACEHOLDER_POSITION], [IS_MAIN], [IS_DEFAULT], [IS_READ_ONLY], [IS_PRIMARY_LINK], [DISPLAY_ORDER], [FACTORY_CLASS], [SELECT_CRITERIA], [ASSOCIATED_SEARCH], [PAGE_SIZE], [CREATED_ON], [AGGREGATED_ATTRIB_ID], [CREATED_BY], [UPDATED_BY], [UPDATED_ON], [ORDER_BY_CLAUSE], [DATA_PROCESSOR_CLASS])
     VALUES ('2204000149_002', N'Customer Information Update', 'Unison.Document.EForm.CustomerInformationUpdateFormSectionView', N'Customer Information Update', 'Section', '2204000149', '0x2', NULL, 0, 0, 0, 1, 1, NULL, 'ifelse(isEmpty(getMapValue(getProperty(@currentObj,''values''),''CURRENT_STATE'')),''EDITABLE'',''READ_ONLY'')', NULL, 0, GETDATE(), NULL, 'k.hayat', 'k.hayat', GETDATE(), NULL, NULL)

END


