-- -----------------------------------------------------------------
-- This script has been automatically generated by SQL Scripter 2.0
-- http://www.sqlscripter.com
-- 12/17/2020 12:40:58 PM
-- 20 records
-- -----------------------------------------------------------------


IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_01') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_01', '2204000149_002', '2204000149_01', '2204000149', 'CustomerInformationUpdate_RequestType', 0, 1, NULL, 0, 'TextBox', N'Select Request Type', N'Select Request Type', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_02') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_02', '2204000149_002', '2204000149_02', '2204000149', 'CustomerInformationUpdate_AccountNumber', 0, 5, NULL, 0, 'TextBox', N'Account Number', N'Account Number', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_03') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_03', '2204000149_002', '2204000149_03', '2204000149', 'CustomerInformationUpdate_AccountTitle', 0, 3, NULL, 0, 'TextBox', N'Account Title', N'Account Title', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_04') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_04', '2204000149_002', '2204000149_04', '2204000149', 'CustomerInformationUpdate_AccountCurrency', 0, 7, NULL, 0, 'TextBox', N'Account Currency', N'Account Currency', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_05') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_05', '2204000149_002', '2204000149_05', '2204000149', 'CustomerInformationUpdate_ProductType', 0, 9, NULL, 0, 'TextBox', N'Product Type', N'Product Type', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_06') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_06', '2204000149_002', '2204000149_06', '2204000149', 'CustomerInformationUpdate_IDNumber', 0, 11, NULL, 0, 'TextBox', N'ID Number (CNIC /NICOP / POC / SNIC Number)', N'ID Number (CNIC /NICOP / POC / SNIC Number)', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_07') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_07', '2204000149_002', '2204000149_07', '2204000149', 'CustomerInformationUpdate_NewResidentialAddress', 0, 4, NULL, 0, 'TextBox', N'New Residential Address', N'New Residential Address', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_08') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_08', '2204000149_002', '2204000149_08', '2204000149', 'CustomerInformationUpdate_NewMailingAddress', 0, 6, NULL, 0, 'TextBox', N'New Mailing Address', N'New Mailing Address', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_09') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_09', '2204000149_002', '2204000149_09', '2204000149', 'CustomerInformationUpdate_MobileNumber', 0, 13, NULL, 0, 'TextBox', N'Mobile Number (with country code)', N'Mobile Number (with country code)', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_10') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_10', '2204000149_002', '2204000149_10', '2204000149', 'CustomerInformationUpdate_ResidenceTelephoneNumber', 0, 15, NULL, 0, 'TextBox', N'Residence Telephone Number', N'Residence Telephone Number', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_11') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_11', '2204000149_002', '2204000149_11', '2204000149', 'CustomerInformationUpdate_OfficeTelephoneNumber', 0, 17, NULL, 0, 'TextBox', N'Office Telephone Number', N'Office Telephone Number', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_12') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_12', '2204000149_002', '2204000149_12', '2204000149', 'CustomerInformationUpdate_NewIDDocumentExpiryDate', 0, 8, NULL, 0, 'TextBox', N'New ID Document Expiry Date', N'New ID Document Expiry Date', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_13') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_13', '2204000149_002', '2204000149_13', '2204000149', 'CustomerInformationUpdate_NewIDDocumentIssuanceDate', 0, 10, NULL, 0, 'TextBox', N'New ID Document Issuance Date', N'New ID Document Issuance Date', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_14') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_14', '2204000149_002', '2204000149_14', '2204000149', 'CustomerInformationUpdate_NewPassportExpiryDate', 0, 14, NULL, 0, 'TextBox', N'New Passport Expiry Date', N'New Passport Expiry Date', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_15') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_15', '2204000149_002', '2204000149_15', '2204000149', 'CustomerInformationUpdate_NewSourceOfIncome', 0, 16, NULL, 0, 'TextBox', N'New Source of Income', N'New Source of Income', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_16') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_16', '2204000149_002', '2204000149_16', '2204000149', 'CustomerInformationUpdate_RequestReceived', 0, 19, NULL, 0, 'TextBox', N'Date & Time of request Received ', N'Date & Time of request Received ', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_17') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_17', '2204000149_002', '2204000149_17', '2204000149', 'CustomerInformationUpdate_NADRAVerisysOK', 0, 23, NULL, 0, 'TextBox', N'NADRA Verisys OK', N'NADRA Verisys OK', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_18') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_18', '2204000149_002', '2204000149_18', '2204000149', 'CustomerInformationUpdate_KYCRevisionPerformed', 0, 18, NULL, 0, 'TextBox', N'KYC Revision Performed', N'KYC Revision Performed', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_19') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_19', '2204000149_002', '2204000149_19', '2204000149', 'CustomerInformationUpdate_ProceedBy', 0, 20, NULL, 0, 'TextBox', N'Proceed By (Name & Signature)', N'Proceed By (Name & Signature)', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_20') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_20', '2204000149_002', '2204000149_20', '2204000149', 'CustomerInformationUpdate_AuthorizeBy', 0, 22, NULL, 0, 'TextBox', N'Authorize By (Name & Signature)', N'Authorize By (Name & Signature)', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_21') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_21', '2204000149_002', '2204000149_21', '2204000149', 'CustomerInformationUpdate_NewEmailAddress', 0, 2, NULL, 0, 'TextBox', N'New Email Address', N'New Email Address', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_22') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_22', '2204000149_002', '2204000149_22', '2204000149', 'CustomerInformationUpdate_PassportNumber', 0, 21, NULL, 0, 'TextBox', N'Passport Number', N'Passport Number', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END

IF NOT EXISTS (SELECT [VIEW_ATTRIB_ID] FROM [dbo].[META_VIEW_ATTRIB] WHERE [VIEW_ATTRIB_ID] = '2204000149_23') BEGIN

     INSERT INTO [dbo].[META_VIEW_ATTRIB] ([VIEW_ATTRIB_ID], [META_VIEW_ID], [ATTRIBUTE_ID], [META_ENT_ID], [SYSTEM_NAME], [IS_READ_ONLY], [DISPLAY_ORDER], [STYLE_CLASS], [IS_AGGREGATED], [COMPONENT_TYPE], [DISPLAY_NAME_PRM], [DISPLAY_NAME_SEC], [FORMAT_EXPRESSION], [FORMAT_EXPRESSION_SEC], [IS_FOREIGN_VAL_DISPLAY], [FOREIGN_DISPLAY_ATTRIB_ID], [LINK_PARAMS], [CONSTRAINT_EXP], [IS_POSTBACK], [POSTBACK_EXP], [LINK_URL], [CREATED_ON], [CREATED_BY], [UPDATED_ON], [UPDATED_BY], [RENDER_AS_POPUP], [SELECT_EXP], [CLIENT_SCRIPT_EXP], [FACTORY_CLASS], [EDIT_EXPRESSION], [EVENTS], [EVENT_ACTION_CLASSES], [EVENT_RERENDER_COMPONENTS])
     VALUES ('2204000149_23', '2204000149_002', '2204000149_23', '2204000149', 'CustomerInformationUpdate_NewPassportIssuanceDate', 0, 12, NULL, 0, 'TextBox', N'New Passport Issuance Date', N'New Passport Issuance Date', NULL, NULL, 0, NULL, NULL, NULL, 0, NULL, NULL, GETDATE(), 'k.hayat', GETDATE(), 'k.hayat', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)

END